.container {
    background-color: rgb(15, 25, 35);
    display: flex;
    /* justify-content: center; */
    width: 100vw;
    height: 100vh;
    padding: 20px;
}

.firstSection {
    display: none;
    width: 15%;
    height: 100%;
    border-radius: 10px;
    background-color: rgb(0, 82, 144);
}

.middleSection{
    width: 70%;
    margin: 0 10px 0 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 10px;
    position: relative;
}

.profileBackgroundImg {
    width: 100%;
    height: 40%;
    border-radius: 10px;
    margin: 0 0 10px 0;
}

.courses {
    height: 60%;
    background-color: rgb(8 34 53);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.profilebox1 {
    height: 11rem;
    width: 11rem;
    position: absolute;
    top: -0.5rem;
    left: -0.5rem;
    border-radius: 50%;
    border-bottom: 3px solid rgb(96 165 250);
    border-top: 3px solid rgb(96 165 250);
    padding: 2px;
    animation: rotateBox 2s linear infinite;
    display: flex;
    justify-content: center;
    align-items: center;
}

.profilebox {
    height: 10rem;
    width: 10rem;
    position: absolute;
    top: 27.5%;
    left: 20%;
}

.profileImg {
    height: 100%; 
    width: 100%;
    border-radius: 50% !important;
    position: relative;
}

@keyframes rotateBox {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.text3d {
    font-size: 50px;
    color: rgb(8 34 73);
    font-family: Arial Black, Gadget, sans-serif;
    text-shadow: 0px 0px 0 rgb(8 34 73),
                 1px 1px 0 rgb(-8,71,74),
                 2px 2px 0 rgb(-8,71,74),
                 3px 3px 0 rgb(-8,71,74),
                 4px 4px 0 rgb(-8,71,74),
                 5px 5px 0 rgb(-8,71,74),
                 6px 6px 0 rgb(-8,71,74),
                 7px 7px 0 rgb(-8,71,74),
                 8px 8px  0 rgb(-85,-67,97),
                 9px 9px 8px rgba(0,0,0,0.6),
                 9px 9px 1px rgba(0,0,0,0.5),
                 0px 0px 8px rgba(0,0,0,.2);
}


.secondSection {
    width: 30%;
    height: 100%;
    border-radius: 10px;
    background-color: rgb(8 34 53);
    display: flex;
    justify-content: center;
    align-items: start;
}

@media (max-width:1000px){
    .firstSection{
        display: none;
    }
    .secondSection{
        display: none;
    }
    .middleSection{
        width: 100%;
        background-color: red;
    }
}

/* From Uiverse.io by Praashoo7 */ 
.main {
    background-color: white;
    padding: 1em;
    padding-bottom: 1.1em;
    border-radius: 15px;
    margin: 1em;
  }
  
  .loader {
    display: flex;
    flex-direction: row;
    height: 4em;
    padding-left: 1em;
    padding-right: 1em;
    transform: rotate(180deg);
    justify-content: right;
    border-radius: 10px;
    transition: .4s ease-in-out;
  }
  
  .loader:hover {
    cursor: pointer;
    background-color: lightgray;
  }
  
  .currentplaying {
    display: flex;
    margin: 1em;
  }
  
  .spotify {
    width: 50px;
    height: 50px;
    margin-right: 0.6em;
  }
  
  .heading {
    color: black;
    font-size: 1.1em;
    font-weight: bold;
    align-self: center;
  }
  
  .loading {
    display: flex;
    margin-top: 1em;
    margin-left: 0.3em;
  }
  
  .load {
    width: 2px;
    height: 33px;
    background-color: limegreen;
    animation: 1s move6 infinite;
    border-radius: 5px;
    margin: 0.1em;
  }
  
  .load:nth-child(1) {
    animation-delay: 0.2s;
  }
  
  .load:nth-child(2) {
    animation-delay: 0.4s;
  }
  
  .load:nth-child(3) {
    animation-delay: 0.6s;
  }
  
  .play {
    position: relative;
    left: 0.35em;
    height: 1.6em;
    width: 1.6em;
    clip-path: polygon(50% 50%, 100% 50%, 75% 6.6%);
    background-color: black;
    transform: rotate(-90deg);
    align-self: center;
    margin-top: 0.7em;
    justify-self: center;
  }
  
  .albumcover {
    position: relative;
    margin-right: 1em;
    height: 40px;
    width: 40px;
    background-color: rgb(233, 232, 232);
    align-self: center;
    border-radius: 5px;
  }
  
  .song {
    position: relative;
    transform: rotate(180deg);
    margin-right: 1em;
    color: black;
    align-self: center;
  }
  
  .artist {
    font-size: 0.6em;
  }
  
  @keyframes move6 {
    0% {
      height: 0.2em;
    }
  
    25% {
      height: 0.7em;
    }
  
    50% {
      height: 1.5em;
    }
  
    100% {
      height: 0.2em;
    }
  }